
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #fff5f6;
    
    color: #4a3b40;
    
}


.painel-header {
    background-color: #ffffff;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 15px rgba(255, 182, 193, 0.3);
}
.logo {
    font-size: 20px;
    font-weight: bold;
    color: #ff8fa3;
    
}

.menu a {
    color: #8a7a80;
    text-decoration: none;
    margin-right: 20px;
    font-size: 14px;
}

.menu a:hover {
    color: #ff8fa3;
}


.btn-sair {
    background-color: #ffb3c1;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 20px;
    
    cursor: pointer;
    font-weight: bold;
}

.btn-sair:hover {
    background-color: #ff8fa3;
}


.painel-container {
    max-width: 1000px;
    margin: 50px auto;
    padding: 0 20px;
    text-align: center;
}

.painel-container h1 {
    font-size: 28px;
    color: #ff758f;
    margin-bottom: 5px;
}

.subtitulo {
    color: #a39399;
    font-size: 15px;
    margin-bottom: 40px;
}


.cards-grid {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}


.card-feminino {
    background-color: #ffffff;
    border: 1px solid #ffe5ec;
    border-radius: 15px;
    padding: 25px;
    width: 250px;
    box-shadow: 0 10px 20px rgba(255, 143, 163, 0.05);
    transition: transform 0.3s;
}


.card-feminino:hover {
    transform: translateY(-5px);
}

.card-icone {
    font-size: 30px;
    margin-bottom: 15px;
}

.card-feminino h3 {
    margin: 0 0 10px 0;
    font-size: 18px;
    color: #ff758f;
}

.card-feminino p {
    margin: 0;
    font-size: 13px;
    color: #8a7a80;
    line-height: 20px;
}